/* font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Playfair Display', serif; */

img {
    max-width: 100%;
    height: auto;
}

.buttons {
    background: #FB8F1D;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 8px;
}

header {
    max-width: 1301px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto 109px;
    padding-top: 35px;
}

.logo {
    margin-left: 41px;
    min-width: 41px;
}

.navigation {
    font-family: 'Inter', sans-serif;
    display: flex;
}

.navigation__list {
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    display: flex;
}

.navigation__link {
    text-decoration: none;
    color: #B8BECD;
}

.navigation__item {
    margin-left: 34px;
}

.account {
    display: flex;
    font-size: 15px;
    font-weight: 500;
}

.login {
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    color: #FB8F1D;
    height: 44px;
    width: 132px;
    cursor: pointer;
    margin-left: 34px;
    background: white
}

.register {
    margin-right: 54px;
    width: 132px;
    height: 44px;
    cursor: pointer;
    margin-left: 18px;
}