/* font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Playfair Display', serif; */

img {
    max-width: 100%;
    height: auto;
}

.buttons {
    background: #FB8F1D;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 8px;
}

header {
    max-width: 1301px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto 109px;
    padding-top: 35px;
}

.logo {
    margin-left: 41px;
    min-width: 41px;
}

.navigation {
    font-family: 'Inter', sans-serif;
    display: flex;
}

.navigation__list {
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    display: flex;
}

.navigation__link {
    text-decoration: none;
    color: #B8BECD;
}

.navigation__item {
    margin-left: 34px;
}

.account {
    display: flex;
    font-size: 15px;
    font-weight: 500;
}

.login {
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    color: #FB8F1D;
    height: 44px;
    width: 132px;
    cursor: pointer;
    margin-left: 34px;
    background: white
}

.register {
    margin-right: 54px;
    width: 132px;
    height: 44px;
    cursor: pointer;
    margin-left: 18px;
}

.heading {
    max-width: 1301px;
    margin: 0 auto 243px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}

.heading__title p {
    margin: 0 0 74px;
}

.heading__description {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
}

.heading__description p {
    margin: 0 0 33px;
}

.heading__btn {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 60px;
    width: 180px;
    height: 52px;
    cursor: pointer;
}

.heading__img {
    max-width: 687px;
    width: 50%;
    flex-shrink: 0;
}

.content {
    max-width: 1242px;
    margin: 0px auto 298px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__img {
    max-width: 659px;
    width: 53%;
    flex-shrink: 0;
}

.content__inner {
    max-width: 481px; 
}

.content__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.content__title p {
    margin: 0 0 20px;
}

.content__description {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}

.content__description p {
    margin: 0 0 33px;
}

.content__btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    width: 164px;
    height: 48px;
    cursor: pointer;
}

.section {
    max-width: 1120px;
    margin: 0 auto 232px;
}

.section__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.section__link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-decoration: none;
    color: #FB8F1D;
    cursor: pointer;
}

.section__images {
    display: flex;
    justify-content: space-between;
}

.section__images_inner {
    position: relative;
    margin-left: 20px;
}

.section__images_inner:first-child {
    margin: 0;
}

.section__images_text {
    font-family: 'Inter', sans-serif;
    background-color: white;
    border-radius: 0px 6px 0px 0px;
    width: 120px;
    /* height: 56px; */
    position: absolute;
    left: 0;
    bottom: 0;
}

.section__images_inner:first-child .section__images_text {
    border-radius: 0;
    }

.section__images_title p {
    margin-top: 11px;
    margin-bottom: 0;
}
.section__images_description p {
    margin: 0px;
}

.section__images_title {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #042521;
}

.section__images_description {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #80918E;
}

.headingtwo {
    max-width: 1180px;
    margin: 0 auto 371px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingtwo__inner {
    max-width: 481px;
}

.headingtwo__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.headingtwo__title p {
    margin: 0 0 20px;
}

.headingtwo__description {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}

.headingtwo__description p {
    margin: 0 0 33px;
}

.headingtwo__btn {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 60px;
    width: 164px;
    height: 48px;
    cursor: pointer;
}

.headingtwo__img {
    max-width: 687px;
    width: 50%;
    flex-shrink: 0;
    margin-left: 50px;
}

.rewiews__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.rewiews__title p {
    margin: 0;
}

.rewiews__description {
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.rewiews__description p {
    margin: 30px auto 0;
}

.rewiews__caption {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.rewiews__caption_name {
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    margin: 30px auto 0;
}

.rewiews__caption_name p {
    margin: 0;
}

.rewiews__caption_profession {
    font-weight: 500;
    font-size: 18px;
    line-height: 48px;
    margin: 0px auto;
}

.rewiews__caption_profession p {
    margin: 0;
}

.rewiews {
    max-width: 1071px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 184px;
}

.rewiews__text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rewiews__stars {
    display: flex;
}

.star {
    margin-right: 25px;
} 

.rewiews__img {
    max-width: 384px;
}

.section2 {
    max-width: 1120px;
    margin: 0 auto 232px;
}

.section2__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.section2__link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-decoration: none;
    color: #FB8F1D;
    cursor: pointer;
}

.section2__images {
    display: flex;
    justify-content: space-between;
}

.section2__img {
    background-repeat: no-repeat;
    height: 233px;
    width: 100%;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.image1 {
background-image: url(../img/image-6.png);
}

.image2 {
    background-image: url(../img/image-7.png);
}

.image3 {
    background-image: url(../img/image-8.png);
}

.image4 {
    background-image: url(../img/image-9.png);
}

.section2__images_inner {
    max-width: 266px;
}

.section2__images_text {
    font-family: 'Inter', sans-serif;
}

.section2__images_title {
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}

.section2__images_description {
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;
}

.section2__images_link a {
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
    color: #FB8F1D;
    cursor: pointer;
}

footer {
    background: #F9F9FB;
}

.footer__main {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-family: 'Mulish', sans-serif;
    border-bottom: solid #C4C4C4 0.6px;
    padding-top: 30px;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    flex-basis: 55%;
    margin-bottom: 35px;
}

.footer__right_list li {
   text-decoration: none;
   list-style: none;
   font-weight: 300;
   font-size: 18px;
   line-height: 38px;
   color: #848484;
}

.footer__right_list ul {
    padding: 0;
}

.footer__right_list p {
    font-weight: 700;
    font-size: 19px;
    margin: 10px 0 0 0;  
    color: #000000;
}

.footer__left {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #848484;
    padding-bottom: 50px;
}

.footer__left_description p {
    margin: 20px 0 0 0;
}

.footer__left_description2 p {
    margin: 0;
}

.footer__social {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
}

.footer__network {
    margin: 42px 10px 42px 0;
}